$color2: #3197EE;
$font-family: 'Lato';

.selectContent {
  position: relative;
  width: 100%;
  border: solid 1px black;
  border-radius: 3px;
  margin: 5px 0px;
  outline: none !important;
}
.selectContent span {
  position: absolute;
  right: 5px;
  top: 2px;
  cursor: pointer;
}

.selectContent input {
  border: none;
  outline: none !important;
  box-sizing: border-box;
  width: 100%;
  padding: 6px;
  font-family: $font-family;
  
}

.listWrapper {
  position: relative;
  width: 100%;
  
}

.listItems {
  position: absolute;
  top: 1px;
  left: 0px;
  z-index: 1000;
  background-color: white;
  width: 100%;
  box-shadow: 3px 3px 3px silver;
  border: solid 1px silver;
  border-top: none;
  border-radius: 3px;
  box-sizing: border-box;
}


.listItems ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.listItems li {
  padding: 5px;
  margin: 0px;
  cursor: pointer;
  font-size: 13.333px;
}

.listItems li:hover {
  background-color: $color2;
  color: white;
  font-weight: bold;
}


.selectContent input:focus, .selectContent input:hover {
  border-color: #719ECE;
  box-shadow: 0 0 5px #719ECE;
}

.selectContent .error {
  padding: 6px;
  width: 100%;
  background-color: #e60000;
  color: white;
  font-weight: bold;
  font-size: 9pt;
  box-sizing: border-box;
  border-top: solid 1px #b30000;
 }

 .errorInput {
   border: solid 1px #b30000;
 }