<div id="list" class="selectContent" [class.errorInput]="control.invalid && (control.touched || control.dirty)" (blur)="hideDropDown()" tabindex="1">
  <span class="material-icons">
    keyboard_arrow_down
  </span>

    <input readonly id="select" [formControl]="formControl" (click)="click()" [value]="inputValue" />

  <div class="listWrapper">
    <div [@fade] id="list" *ngIf="showList" class="listItems">
      <ul>
        <li *ngFor="let item of items; let i = index" (click)="itemClick(item)">{{item.text}}</li>
      </ul>
    </div>
  </div>
  <div class="error" *ngIf="formControl.invalid && (formControl.touched || formControl.dirty)">
    Error Message
  </div>
</div>

