<div id="list" class="selectContent" [formGroup]="formGroup" (blur)="hideDropDown()" tabindex="1">
  <span class="material-icons">
    keyboard_arrow_down
  </span>
  <div [formControlName]="controlName">
    <input readonly id="select" (click)="click()" [value]="inputValue" />
  </div>
  <div class="listWrapper">
    <div [@fade] id="list" *ngIf="showList" class="listItems">
      <ul>
        <li *ngFor="let item of items; let i = index" (click)="itemClick(item)">{{item.text}}</li>
      </ul>
    </div>
  </div>
  <div class="error" *ngIf="formControlName.invalid && (formControlName.touched || formControlName.dirty)">
    Error Message
  </div>
</div>

