
$font-family: 'Lato';

.content {
  position: relative;
  width: 100%;
  border: solid 1px black;
  border-radius: 3px;
  margin: 5px 0px
}

.content .material-icons {
  position: absolute;
  right: 5px;
  top: 2px;
  color: #e60000;
}

.content input {
  border: none;
  outline: none !important;
  box-sizing: border-box;
  width: 100%;
  padding: 6px;
  font-family: $font-family;
}

.content input:focus, .content input:hover {
  border-color: #719ECE;
  box-shadow: 0 0 5px #719ECE;
}

.content .error {
  padding: 6px;
  width: 100%;
  background-color: #e60000;
  color: white;
  font-weight: bold;
  font-size: 9pt;
  box-sizing: border-box;
  border-top: solid 1px #b30000;
 }

 .errorInput {
   border: solid 1px #b30000;
 }