<hello name="{{ name }}"></hello>
<p>
  View Controls Options
</p>
<div style="display: flex">
  <div>
    <publiq-radio-button></publiq-radio-button>
  </div>
  <div>
    <publiq-radio-button></publiq-radio-button>
  </div>
</div>
<form [formGroup]="formGroupName">
  <strong>Textbox Example</strong>
  <publiq-textbox [control]="formGroupName.controls.textBox"></publiq-textbox>
  <strong>Numeric Textbox Example</strong>
  <publiq-textbox [control]="formGroupName.controls.numeric" inputType="number"></publiq-textbox>
  <strong>Dropdown Example</strong>
  <publiq-select [control]="formGroupName.controls.select"></publiq-select>
  <h2>Form Array Example w/o Group</h2>
  <ng-container formArrayName="array">
    <div *ngFor="let c of arr.controls; let i = index;">
      <publiq-textbox [control]="c"></publiq-textbox>
    </div>
  </ng-container>
  <h2>Form Array Example w/ Group</h2>
  <ng-container formArrayName="array2">
    <div *ngFor="let c of arr2.controls; let i = index;">
      <div [formGroupName]="i">
        <div style="display: flex">
          <div style="width: 50%">
            <publiq-textbox [control]="c.get('cntrl')"></publiq-textbox>
          </div>
          <div style="width: 50%">
            <publiq-textbox [control]="c.get('cntrl2')"></publiq-textbox>
          </div>
        </div>
        
      </div>
    </div>
  </ng-container>
</form>



